<nav class="navbar navbar-default" role="navigation">

  <div class="container">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

 <%= link_to image_tag("http://identity.uncods.webfactional.com/wp-content/uploads/2014/01/Old_Well_Graphic_facebook.jpg", :class => "navbar-brand", :style => "margin: 0px; float: none;"), root_path %>


<p>RememberChapelHill.com</p>

<% if false %>
code to comment

    <%= link_to image_tag("https://s3.amazonaws.com/rememberch/site_files/logo1.png", :class => "navbar-brand", :style => "margin: 0px; float: none; width: 468px; height: 144px;"), root_path %>
    <% end %>


  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li> 
      

      <% if user_signed_in? %>

 <li>
            <%= link_to new_pin_path do %>
              <span class="glyphicon glyphicon-plus"></span> New Pin
            <% end %>
          </li>

      
      <li><%= link_to "Account Settings", edit_user_registration_path %></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>

           <li><%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), :class => "popup", :"data-width" => 600, :"data-height" => 400 %></li>
        <% end %>


    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container --> 
</nav>