<!DOCTYPE html>
<html>
<head>
  <title>RememberChapelHill.com: Share Your Experience!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=996576647057893";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>




	<%= render 'layouts/header' %>

	<div class="container">

		<% flash.each do |name, msg| %>
     <%= content_tag(:div, msg, class: "alert alert-info") %>
<% end %>

		<%= yield %>
	</div>


  <% if user_signed_in? %>

  <div id='bottom-right-corner'> Welcome, <%= current_user.name %> ! <br> 

     </div>



  <% else %>

<div id='bottom-right-corner'> 
  <%=link_to( image_tag("https://s3.amazonaws.com/rememberch/site_files/fb_login.png", :style => "width: 250px; height: 50px;"), user_omniauth_authorize_path(:facebook), :class => "popup", :"data-width" => 600, :"data-height" => 400) %>


  <% end %>


</div>

</body>
</html>
